@charset 'utf-8';
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input,figure,figcaption{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight:normal;}
ul,ol,li{list-style:none;}
b,strong{font-weight:normal;}
em,i{font-style:normal;}
a,u{text-decoration: none;}
img{border:0;display:block;}
input{outline:none;}
*{box-sizing:border-box;}
html,body{ height: 100%;font-family: "微软雅黑";}
.clearfix::before, .clearfix:after{ content:''; display: table}
body{
    height: 4000px;
}
/* 顶部 */
.header{
    width: 100%;
    height: 90px;
    overflow: hidden;
    display: block;
}
.header .head{
    width: 1200px;
    height: 90px;
    margin: 0 auto;
    position: relative;
}
.header .head .open{
    display: block;
    position: relative;
    width: 1920px;
    text-align: center;
    left: 50%;
    margin-left: -960px;
    cursor: pointer;
}
.header .head .close{
    position: absolute;
    width:24px;
    height: 24px;
    right: 0;
    top: 10px;
    color: #ffffff;
    overflow: hidden;
    background: url(https://res.vmallres.com/20181205/images/echannel/icon/icon1.png) no-repeat;
    background-position: 0 -385px;
}

/* 导航栏 */
.nav{
    width: 100%;
    height: 40px;
    background: #f8f8f8;
}
.nav .nav-1{
    width: 1200px;
    height: 40px;
    margin: 0 auto;
}
.nav .nav-1 li{
    float: left;
    padding: 0 8px;
    position: relative;
}
.nav .nav-1 li::before{
    content: "";
    width: 1px;
    height: 10px;
    display: block;
    position: absolute;
    top: 15px;
    left: 0;
    background: #d3d3d3;
}
.nav .nav-1 li a{
   color: #a4a4a4;
   font-size: 12px;
   line-height: 40px;
}
.nav .nav-1 li a:hover{
    color: #ac042d;
}
/* 左导航 */
.nav .nav-1 .nav-left{
    float: left;
}
.nav .nav-1 li:first-child{
    padding-left: 0px;
}
/* 右导航 */
.nav .nav-1 .nav-right{
    float: right;
}
.nav .nav-1 .nav-right .iconfont{
    font-size: 18px;
    color: #767676;
    line-height: 36px;
}
.nav .nav-1 .nav-right .s2{
    display: none;
}
.nav .nav-1 .nav-right li:hover .iconfont{
    display: none;
}
.nav .nav-1 .nav-right li:hover .s2{
    color: red;
    float: right;
    display: block;
}
.nav .nav-1 .nav-right .s3:hover{
    background: #fefefe;
}
.nav .nav-1 .nav-right .b{
    background: #fefefe;
    position: absolute;
    top: 40px;
    right: 0;
    border-radius: 0 0 8px 8px;
    display: none;
    box-shadow: 0 2px 36px 0 rgba(0,0,0,0.07);
    z-index: 1000;
}
/* 客户服务 */
.nav .nav-1 .nav-right .b .b-server{
    width: 80px;
    padding: 3px 0 10px 0;
    text-align: center;
}
.nav .nav-1 .nav-right .b .b-server a{
    line-height: 32px;
}
/* 网址导航 */
.nav .nav-1 .nav-right .b .b-nav{
    width: 893px;
    color: #777;
}
.nav .b-nav .b-nav-1{
    float: left;
    width: 50px;
    margin: 37px 46px 0 49px;
    color: #777777;
}
.nav .b-nav .b-nav-1 a{
    line-height: 20px;
}
.nav .b-nav .b-nav-1::before{
  content: "";
  width: 50px;
  height: 50px;
  display: block;
  margin-bottom: 3px;
  background: url(https://res.vmallres.com/20181205/images/echannel/icon/icon-header.png) no-repeat;
  background-position: -41px 0;
}
.nav .b-nav dl{
    float: left;
    width: 185px;
    margin-top: 22px;
    margin-bottom: 20px;
}
.nav .b-nav dl dt{
    font-size: 16px;
    color: #333;
    font-weight: bold;
    margin-bottom: 8px;
}
.nav .b-nav dl .item{
    float: left;
    width: 80px;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nav .nav-1 .b-nav dl a{
    line-height: 20px;
}
/* 手机版 */
.nav .nav-right .b-phone{
    width: 244px;
    padding: 20px 0 20px 0;
}
.nav .nav-right .b-phone .phone{
    width: 244px;
    height: 111px;
    padding-left: 24px;
    padding-bottom: 20px;
    border-bottom:1px solid #e5e5e5; 
    margin-bottom: 20px;
}
.nav .nav-right .b-phone .phone img{
    width: 90px;
    height: 90px;
    float: left;
    margin-right: 12px;
}
.nav .nav-right .b-phone .phone-shopping{
    float: left;
    line-height: 18px;
}
.b-phone .phone-shopping h2{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
}
.b-phone .phone-shopping .p1{
    color: #cb242b !important;
    line-height: 16px;
    font-size: 12px;
}
.b-phone .phone-shopping span{
    width: 32px;
    height: 32px;
    display: block;
    margin-top: 5px;
}
.b-phone .phone-shopping span.icon-andrid{
    background: url(https://res.vmallres.com/20181205/images/echannel/icon/icon-header.png) no-repeat;
    background-position: -484px 0;
}
.b-phone .phone-shopping p{
    color: #777;
    font-size: 12px;
}
.b-phone .phone-shopping span.icon-andrid1{
    background: url(https://res.vmallres.com/20181205/images/echannel/icon/icon-header.png) no-repeat;
    background-position: -518px 0;
}
.nav .b-phone .phone:nth-of-type(3){
    border-bottom:none; 
}

/* 购物车 */
.nav .gouwu{
    color: #3a3a3a;
}
.nav .gouwu-1{
    width: 460px;
    text-align: center;
    color: #a4a4a4;
    font-size: 14px;
    padding: 50px 0 50px;
}
.nav .gouwu .gouwu-1 .icon-icon1{
    background: url(https://res.vmallres.com/20181205/images/echannel/icon/icon-header.png) no-repeat;  
    width: 100px;
    height: 100px;
    padding-left: 0;
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;
    background-position: 0 -166px;
}


/* 选项栏 */
.option{
    width: 100%;
    height: 75px;
}
.option .option-1{
    width: 1200px;
    height: 75px;
    margin: 0 auto;
    padding:18px 0 23px 0;
}
.option .option-2{
    width: 1200px;
    margin: 0 auto;
}
.option .option-1 .logo{
    float: left;
    width: 202px;
    margin-right: 37px;
}
.option .option-1 .logo img{
    height: 33px;
} 
.option .option-2 .option-nav{
    float: left;
    width: 560px;
    height: 40px;
}
.option .option-2 .option-nav li{
    margin: 7px 22px 0 0;
    float: left;
}
.option .option-2 .option-nav li img{
    height: 24px;
}
.option .option-2 .option-nav .l1 a{
    font-size: 16px;
    line-height: 24px;
    color: #333;
    display: block;
    height: 30px;
}
.option .option-2 .option-nav .l1:hover a{
    color: #ca141d;
    border-bottom:2px solid #ca141d; 
}

/*  轮播图*/
.banner{
    width: 100%;
    height: 550px;
    overflow: hidden;
    position: relative;
    border-radius: 0 0 10% 10%;
}
.banner .banner-box{
    width: 1263px;
    height: 550px;
    overflow: hidden;
}
.banner .banner-box ul{
    width: 1263px;
    height: 550px !important;
    position: relative;
}
.banner .banner-box ul li{
    position: absolute;
    top: 0;
    left: 0;
}
.banner .banner-box ul li img{
   margin-left:-340px;
}
.banner .list{
    position: absolute;
    top: 480px;
    right: 90px;
}
.list a{
    float: left;
    font-size: 10px;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border:1px solid #fff;
    border-radius: 50% 50%;
}
.list a.active{
    background: #ffffff;
}
/* 轮播图按钮 */
.list1{
    position: absolute;
    width: 970px;
    height: 70px;
    left: 240px;
    top: 240px;
    background: chocolate;
    z-index: 10;
}
.left-arrow {
    position: absolute;
    left: 220px;
    top: 40%;
    width: 70px;
    height: 70px;
    font-size: 30px;
    opacity: 0.3;
    background: url(https://res.vmallres.com/20181205/images/echannel/icon/icon-header.png) no-repeat;
    background-position: -340px 0;
}
.right-arrow {
    position: absolute;
    right: 70px;
    top: 40%;
    width: 70px;
    height: 70px;
    font-size: 50px;
    text-align: center;
    line-height: 20px;
    opacity: 0.3;
    background: url(https://res.vmallres.com/20181205/images/echannel/icon/icon-header.png) no-repeat;
    background-position: -100px 0;
}
/* 选项栏分类 */
.option-tab{
    position: absolute;
    left: 35px;
    top: 18px;
    width: 200px;
    z-index: 99;
    
}
.option-tab .tab ol{
    position: relative;
    height: 440px;
    box-shadow: 0 0 46px rgba(252, 161, 161, 0.03);
}
.option-tab .tab ol .tab-li{
    height: 74px;
    background: rgba(255,255,255,0.9);
    border-bottom: 1px solid #cccccc; 
}
.option-tab .tab ol .tab-li a:hover{
   color: red;
}
.option-tab .tab ol .tab-li:first-child{
    border-radius: 10px 10px 0 0 ;
}
.option-tab .tab ol .tab-li:last-child{
    border-radius:0 0 10px 10px  ;
}
.option-tab .tab-info{
    padding: 12px 0 13px 25px;
    margin: 0;
    height: 47px;
    position: relative;
}
.option-tab .tab-info .tab-title{
    margin-bottom: 2px;
}
.option-tab .tab-info .tab-title a{
    font-size: 16px;
    color: #848488;
}
.option-tab .tab-info a{
    color: #a6a6a6;
    margin-right: 9px;
    font-size: 14px;
}
.tab-box{
    position: absolute;
    left: 200px;
    top: 18px;
    height: 443px;
    background: #fff;
    padding: 24px 30px 0 28px;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 0 46px rgba(0,0,0,0.1);
    top: 0;
    z-index: 100;
    overflow: hidden;
    display: none;

}
.tab-box.tab-box1{
    width: 680px;
}
.tab-box.tab-box2{
    width: 250px;
}
.tab-box.tab-box3{
    width: 880px;
}
.tab-box.tab-box4{
    width: 500px;
}
.tab-box ul{
    width: 204px;
    /* height: 418px; */
    margin: 0;
    float: left;
}
.tab-box ul .tab-box-li{
    float: left;
    margin-bottom: 24px;
}
.tab-box ul .tab-box-li:hover{
    border-radius: 10% 10% 10% 10%;
    background: #f8f8f8;
}
.tab-box ul .tab-box-li a{
    display: block;
    width: 204px;
    height: 80px;
    font-size: 14px;
    border-radius: 10px;
    margin-right: 0;
}
.tab-box ul .tab-box-li a img{
    width: 56px;
    height: 56px;
    float: left;
    margin: 12px 6px 0 6px;
}
.tab-box ul .tab-box-li a span{
    float: left;
    color: #777;
    font-size: 13px;
    margin-top: 30px;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} 
.tab-box-btn{
    float: left;
}
.tab-box-btn a{
    width: 112px;
    height: 42px;
    line-height: 42px;
    margin-top: 18px;
    margin-left: 36px;
    border: 1px solid #f2f2f2;
    border-radius: 0 22px 22px 0;
    font-size: 13px;
    color: #a7a7a7;
    display: block;
    position: relative;
    text-indent: 34px;
}
.tab-box-btn a::before{
    content: "";
    width: 40px;
    height: 40px;
    background: #fff;
    border: 1px solid #f2f2f2;
    display: block;
    border-radius: 22px;
    position: absolute;
    top: -1px;
    left: -22px;
}
.tab-box-btn a::after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid #c0c0c0;
    position: absolute;
    top: 16px;
    left: -1px;
}

/*  内容的顶部 */
.home-menu .home-menu-list{
    width: 1200px;
    position: relative;
    margin: 0 auto;
}
.home1{
    position: relative;
}
.home1 .h .home-main{
    position: relative;
    top: -42px;
    height: 34px;
}
/* 登录 / 注册列表 */
.home1 .h .home-main ul.b{
    width: 1200px;
    height: 88px;
    background: #fff;
    text-align:center;
    border-radius: 10px;
    position: absolute;
    z-index: 200;
    box-shadow: 0 2px 26px rgba(0,0,0,0.07);
}
.home1 .h .home-main .s1{
    float: left;
    position: relative;
    width: 270px;
    height: 55px;
    margin-top: 17px;
    border-right: 1px solid #ededed;
}
.home1 .h .home-main .s1 .s1-1{
    padding: 0;
    padding-left: 26px;
    text-align: left;
    color: #3a3a3a;
}
.home1 .h .home-main .s1 .s1-1 .s1-h{
    width: 52px;
    height: 52px;
    margin-right: 17px;
    float: left;
}
.h .home-main .s1 .s1-1 .s1-h img{
    width: 52px;
    height: 52px;
    border-radius: 50% 50%;
}
.h .home-main .s1 .s1-1 .s1-o{
    float: left;
}
.lo{
    margin-top: 1px;
    font-size: 14px;
    color: #999;
}
.lo a,span{
    color: #333;
}
.go{
    margin-top: 6px;
}
.go .go-g{
    width: 66px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #fff;
    border: 1px solid #e47b7f;
    color: #de5b60;
    margin-right: 8px;
    font-size: 13px;
    display: inline-block;
    border-radius:5px;
    font-size: 13px; 
}
.go .go-o{
    display: inline-block;
    width: 68px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    background: #595454;
    color: #fde4b3;
    border-radius: 5px;
    font-size: 13px;
}
.lo a:hover {
    color: #e47b7f;
}
.go .go-g:hover{
    color: white;
    background: #e47b7f;
}
/* 企业换购 */
.home1 .h .s2{
    float: left;
    position: relative;
    width: 660px;
    margin-top: 17px;
}
.home1 .h .s2 ul{
    display: table;
    width: 100%;
}
.home1 .h .s2 ul li{
    text-align: center;
    display: table-cell;
    float: none;
    width: 104px;
    position: relative;
}
.home1 .h .s2 ul li a{
    text-align: center;
    width: 100%;
    min-width: 48px;
    max-width: 84px;
    margin: 0 auto;
}
.home1 .h .s2 ul li a .p-img{
    width: 40px;
    height: 40px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.home1 .h .s2 ul li a .p-img img{
    position: absolute;
    width: auto;
    width: auto;
}
.home1 .h .s2 ul li a .p-img .img1{
    left: 0;
}
.home1 .h .s2 ul li a .p-p{
    line-height: 24px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #777;
    font-size: 13px;
}
.home1 .h .s2 ul li a .p-img .img2{
    left: -40px;
}
.home1 .h .s2 ul li a .p-img .img3{
    left: -80px;
}
.home1 .h .s2 ul li a .p-img .img4{
    left: -120px;
}
.home1 .h .s2 ul li a .p-img .img5{
    left: -160px;
}
.home1 .h .s2 ul li a .p-img .img6{
    left: -200px;
}
.home1 .h .s2 ul li:hover a .p-p{
    color: #de5b60;
}
/* 公告栏 */
.home1 .h .s3{
    width: 266px;
    height: 88px;
    border-left: 1px solid #ededed;
    float: left;
    position: relative;
}
.home1 .h .s3 .p-pp{
    height: 43px;
    border-bottom: 1px solid #e5e5e5;
}
.home1 .h .s3 .p-pp .p-pp1{
    float: left;
    display: block;
    font-weight: bold;
    margin: 10px 8px 0 17px;
}
.home1 .h .s3 .p-pp .p-pp1 a{
    color: #777;
    font-size: 14px;
}
.home1 .h .s3 .p-pp .p-pp2{
    height: 43px;
    overflow: hidden;
    text-align: left;
    width: 190px;
    position: relative;
}
.home1 .h .s3 .p-pp .p-pp2 .cp{
    /* height: 258px; */
    float: left;
}
.home1 .h .s3 .p-pp .p-pp2 .cp li{
    width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 43px;
    line-height: 43px;
    font-size: 12px;
}
.home1 .h .s3 .p-pp .p-pp2 .cp li a{
    color: #6f6f6f;
}
.home1 .h .s3 .p-pp .p-pp2 .cp li:first-child{
    transition: margin-top .8s;
}
.home1 .h .s3 .p-pp .p-pp2 .cp li a:hover{
    color: #de5b60;
}
.home1 .h .s3 .p-p1 li{
    height: 42px;
    line-height: 42px;
    width: 88px;
    float: left;
    position: relative;
}
.home1 .h .s3 .p-p1 li a{
    display: block;
    color: #666;
    font-size: 13px;
}
.home1 .h .s3 .p-p1 li a:hover{
    color: #de5b60;
}
.home1 .h .s3 .p-p1 li a span{
    margin-right:2px;
    display:  inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    top: 5px;
    overflow: hidden;
}
.home1 .h .s3 .p-p1 li a span img{
    width: auto;
    width: auto;
    position: absolute;
}
.home1 .h .s3 .p-p1 li a span .img6{
    left: -240px;
}
.home1 .h .s3 .p-p1 li a span .img7{
    left: -260px;
}
.home1 .h .s3 .p-p1 li a span .img8{
    left: -280px;
}
